extend views/main
block variables
  - var pageTitle = 'Главная'

block content
  div.content.index
    div.wrap
      include ../blocks/finding/finding
    div.index__slogan Лучшие номера для вашей работы, отдыха и просто вдохновения