-
  var mainMenu = [{"id": "0", "name": "О нас", "url": "*"}, {"id": "0", "name": "Услуги", "url": "*"}];
  /*var mainMenu = [
    {
      "id": "0",
      "name": "О нас",
      "url": "*"
    },
    {
      "id": "10",
      "name": "Услуги",
      "url": "*",
      "childs": [
        {
          "id": "10-0",
          "name": "Подбор",
          "url": "*"
        },
        {
          "id": "10-10",
          "name": "Бронь",
          "url": "*",
        }
      ]
    },
    {
      "id": "20",
      "name": "Вакансии",
      "url": "*"
    },
    {
      "id": "30",
      "name": "Новости",
      "url": "*"
    },
    {
      "id": "10",
      "name": "Соглашения",
      "url": "*",
      "childs": [
        {
          "id": "10-0",
          "name": "Подбор",
          "url": "*"
        },
        {
          "id": "10-10",
          "name": "Бронь",
          "url": "*",
        }
      ]
    }
  ];*/
