//- Все примеси в этом файле должны начинаться c имени блока (main-nav)

mixin nav(selectedID)

  //- Принимает:
  //-   selectedID {string} - id пункта меню (по умолчанию — из main-nav.data.pug)
  //- Вызов:
        +nav('1')
  -
    var mainMenu = [
      {
        "id": "0",
        "name": "О нас",
        "url": "*"
      },
      {
        "id": "10",
        "name": "Услуги",
        "url": "*",
        "childs": [
          {
            "id": "10-0",
            "name": "Подбор",
            "url": "*"
          },
          {
            "id": "10-10",
            "name": "Бронь",
            "url": "*"
          }
        ]
      },
      {
        "id": "20",
        "name": "Вакансии",
        "url": "*"
      },
      {
        "id": "30",
        "name": "Новости",
        "url": "*"
      },
      {
        "id": "10",
        "name": "Соглашения",
        "url": "*",
        "childs": [
        {
          "id": "10-0",
          "name": "Подбор",
          "url": "*"
        },
        {
          "id": "10-10",
          "name": "Бронь",
          "url": "*",
        }
        ]
      }
    ];


  nav&attributes(attributes)
    +burger()
    ul
      each menuItem in mainMenu
        +main-nav-item(selectedID, menuItem, 1)
          if (typeof(menuItem.childs) !== 'undefined' && menuItem.childs)
            ul
              each menuItem2 in menuItem.childs
                +main-nav-item(selectedID, menuItem2, 2)

mixin main-nav-item(selectedID, item, level)
  li
    a(class= thisLinkClass, href=item.url)= item.name
    block