include ../../html/views/mixins

footer
  div.wrap
    div.footer__logo
      +logo('index.html')
        img(src='img/logo.png')
      span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации&nbsp;&laquo;Отельные взгляды&raquo;
    div.footer__menu
      h3 Навигация
      ul
        +topMenu('*', 'О нас')
        +topMenu('*', 'Новости')
        +topMenu('*', 'Служба поддержки')
        +topMenu('*', 'Услуги')
    div.footer__menu
      h3 О нас
      ul
        +topMenu('*', 'О сервисе')
        +topMenu('*', 'Наша команда')
        +topMenu('*', 'Вакансии')
        +topMenu('*', 'Инвесторы')
    div.footer__menu
      h3.l-s03 Служба поддержки
      ul
        +topMenu('*', 'Соглашения')
        +topMenu('*', 'Сообщества')
        +topMenu('*', 'Связь с нами')
    div.footer__subscribe
      h3 Подписка
      span Получайте специальные предложения и новости сервиса
      form
        input(type='text' name='email' placeholder='Email')
        button.material-icons arrow_forward