.input-arrow {
  display: flex;
}
.input-arrow label {
  position: relative;
  width: 0px;
}
.input-arrow label:after {
  content:  'keyboard_arrow_down';
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  top: 14px;
  right: 10px;
  position: absolute;
}