copyright
  div.wrap
    span Copyright &copy; 2018 Toxin отель. Все права защищены.
    a(href='*')
      i.fa.fa-twitter.fa-1x
    a(href='*')
      i.fa.fa-facebook-square.fa-1x
    a(href='*')
      i.fa.fa-instagram.fa-1x