div.finding
  h1 Найдём номера под <br>ваши пожелания
  div.finding__left.inline.width50
    h3 Прибытие
    div.input-arrow
      input#arrive.js_arriveFinding(value='ДД.ММ.ГГГГ')
      label(for="arrive") &nbsp;
  div.finding__right.inline.width50
    h3 Выезд
    div.input-arrow
      input#departure.js_arriveDeparture(value='ДД.ММ.ГГГГ')
      label(for="departure") &nbsp;
  div
    input.js_dateFromDatepicker.zero
  div.finding__guests
    h3 Гости
    div.select-count
      div.input-arrow
        input#guests(readonly value='Сколько гостей')
        label(for="guests") &nbsp;
      div.select-count__container
        div.select-count__item.fadeIn.a2
          h3 Взрослые
          div.select-count__count-area
            span.select-count__control.js_minus.transparent -
            span.select-count__number.js_num 0
            span.select-count__control.js_plus +
        div.select-count__item.fadeIn.a4
          h3 Дети
          div.select-count__count-area
            span.select-count__control.js_minus.transparent -
            span.select-count__number.js_num 0
            span.select-count__control.js_plus +
        div.select-count__item.fadeIn.a6
          h3 Младенцы
          div.select-count__count-area
            span.select-count__control.js_minus.transparent -
            span.select-count__number.js_num 0
            span.select-count__control.js_plus +
        div.select-count__buttons.fadeIn.a8
          span.js_clearGuests.transparent очистить
          div.select-count__apply.js_applyGuests применить
  button.violetback.arrow.width100 подобрать номер

