div.finding
  h1 Найдём номера под <br>ваши пожелания
  div.finding__left.inline.width50
    h3 Прибытие
    input
  div.finding__right.inline.width50
    h3 Выезд
    input
  div.finding__guests
    h3 Гости
    input
  button.violetback.arrow.width100 подобрать номер