mixin topMenu(link, name)
  li
    a(href=link)= name


header
  div.wrap
    div.header__logo
      a(href='index.html')
        img(src='img/logo.png')
    div.header__topMenu
      nav
        ul
          li
            a(href='*') О нас
          li
            a(href='*') Услуги
            ul
              li
                a(href='*') Подбор
              li
                a(href='*') Бронь
          li
            a(href='*') Вакансии
          li
            a(href='*') Новости
          li
            a(href='*') Соглашения
            ul
              li
                a(href='*') Подбор
              li
                a(href='*') Бронь
    div.header__btns
      button.violetborder Войти
      button.violetback Зарегистрироваться