@import "variables";

// Global Styles
* {
  outline: none !important;
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('fonts/quicksand_regular.eot');
  src: local('☺'), url('fonts/quicksand_regular.woff') format('woff'), url('fonts/quicksand_regular.ttf') format('truetype'), url('fonts/quicksand_regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat.eot');
  src: url('fonts/Montserrat.woff') format('woff'), url('fonts/Montserrat.ttf') format('truetype'), url('fonts/Montserrat.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(fonts/MaterialIcons-Regular.woff) format('woff'),
  url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  background: $sidebar;
  font-family: $basefont2;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  color: $dark_shade75;
  font-weight: normal;
  font-size: $font_size_md;
  min-width: 320px;
}

html {
  position: relative;
  height: 100%;
  min-width: 320px;
}
#main {
  min-height: 1343px;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.wrap {
  position: relative;
  width: 1440px;
  margin: auto;
  padding: 0 $wrap_padding 0 $wrap_padding;
  box-sizing: border-box;
}
.content {
  flex: auto;
  width: 100%;

}
.content.index {
  background: url(../img/back_index.jpg);
  background-size: cover;
  position: relative;
}
.index__slogan {
  position: absolute;
  right: 118px;
  bottom: 21px;
  text-align: right;
  width: 300px;
  line-height: 24px;
}
h1,
h2,
h3
{
  color: $dark_shade;
  font-weight: bold;
}
h1 {
  font-family: Arial;
  line-height: 30px;
  font-size: $font_size_bigger;
  letter-spacing: 1.1px;
  margin-bottom: 7px;
}
h2 {
  font-family: $basefont1;
  line-height: 24px;
  font-size: $font_size_big;
}
h3 {
  font-family: $basefont2;
  line-height: 15px;
  font-size: $font_size_small;
  text-transform: uppercase;
  margin-bottom: 5px;
}
p {
  font-family: $basefont2;
  line-height: 24px;
  font-size: $font_size_md;
  color: $dark_shade75;
}
.l-s03 {
  letter-spacing: 0.3px;
}
.m-r15 {
  margin-right: 15px;
}
input {
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: $font_size_md;
  line-height: 24px;
  color: $dark_shade25;
  background: #FFFFFF;
  border: 1px solid $dark_shade25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 44px 8px 15px;
}
input:hover, input:focus, input.active {
  border: 1px solid $dark_shade50;
  color: $dark_shade75;
}
.inline {
  display: inline-block;
}
.width100 {
  width: 100%;
}
.width50 {
  width: 49.4%;
}
.height0 {
  height: 0px;
}
.hidden {
  display: none !important;
}
.transparent {
  opacity: 0;
  pointer-events: none;
}
.zero {
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0;
  border: 0;
}
.flexWrap {
  flex-wrap: wrap;
}
.relative {
  position: relative;
}




/*Текстовые стили*/
.clearBtnStyle {
  text-transform: uppercase;
  color: $dark_shade50;
}
.applyBtnStyle {
  text-transform: uppercase;
  color: $violet;
}


/*Анимация*/
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;

  -webkit-animation-duration: .5s;
  animation-duration: .5s;

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.pullDown{
  animation-name: pullDown;
  -webkit-animation-name: pullDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes pullDown {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}




.a2 {
  animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
}
.a3 {
  animation-delay: 300ms;
  -webkit-animation-delay: 300ms;
}
.a4 {
  animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
}
.a5 {
  animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
}
.a6 {
  animation-delay: 600ms;
  -webkit-animation-delay: 600ms;
}
.a7 {
  animation-delay: 700ms;
  -webkit-animation-delay: 700ms;
}
.a8 {
  animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
}
.a9 {
  animation-delay: 900ms;
  -webkit-animation-delay: 900ms;
}
.a10 {
  animation-delay: 1000ms;
  -webkit-animation-delay: 1000ms;
}