@import "variables";

// Global Styles
* {
  outline: none !important;
}

@font-face {
  font-family: 'Quicksand-Regular';
  src: url('fonts/quicksand_regular.eot');
  src: local('☺'), url('fonts/quicksand_regular.woff') format('woff'), url('fonts/quicksand_regular.ttf') format('truetype'), url('fonts/quicksand_regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat.eot');
  src: url('fonts/Montserrat.woff') format('woff'), url('fonts/Montserrat.ttf') format('truetype'), url('fonts/Montserrat.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(fonts/MaterialIcons-Regular.woff) format('woff'),
  url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  background: $sidebar;
  font-family: $basefont2;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  color: $dark_shade75;
  font-weight: normal;
  font-size: $font_size_md;
}

html {
  position: relative;
  height: 100%;
}
#main {
  min-height: 1343px;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.wrap {
  position: relative;
  width: 1440px;
  margin: auto;
  padding: 0 $wrap_padding 0 $wrap_padding;
  box-sizing: border-box;
}
.content {
  flex: auto;
  width: 100%;

}
.content.index {
  background: url(../img/back_index.jpg);
  background-position-y: -70px;
}
h1,
h2,
h3
{
  color: $dark_shade;
  font-weight: bold;
}
h1 {
  font-family: Arial;
  line-height: 30px;
  font-size: $font_size_bigger;
  letter-spacing: 1.1px;
  margin-bottom: 7px;
}
h2 {
  font-family: $basefont1;
  line-height: 24px;
  font-size: $font_size_big;
}
h3 {
  font-family: $basefont2;
  line-height: 15px;
  font-size: $font_size_small;
  text-transform: uppercase;
  margin-bottom: 5px;
}
p {
  font-family: $basefont2;
  line-height: 24px;
  font-size: $font_size_md;
  color: $dark_shade75;
}
.l-s03 {
  letter-spacing: 0.3px;
}
button {
  font-family: $basefont2;
  font-style: normal;
  font-weight: bold;
  font-size: $font_size_small;
  line-height: 15px;
  text-transform: uppercase;
  border-radius: 22px;
  cursor: pointer;
  position: relative;
}
button:hover {
  opacity: 0.5;
}
button.violetborder {
  background: $basecolor;
  border: 2px solid $violet;
  padding: 7px 20px 8px 17px;
  letter-spacing: -0.1px;
  background-image: -webkit-linear-gradient(180deg, $violet 0%, $blue 100%);
  background-image: linear-gradient(180deg, $violet 0%, $blue 100%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
button.violetback {
  color: $basecolor;
  background: linear-gradient(180deg, $violet 0%, $blue 100%);
  border: none;
  padding: 9px 21px 10px 20px;
  letter-spacing: 0.1px;
}
button.violetback.arrow {
  line-height: 25px;
  text-transform: uppercase;
}
button.violetback.arrow:after {
  content:  'arrow_forward';
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  top: 12px;
  right: 10px;
  position: absolute;
  text-transform: none;
}
input {
  width: 100%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: $font_size_md;
  line-height: 24px;
  color: $dark_shade25;
  background: #FFFFFF;
  border: 1px solid $dark_shade25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 44px 8px 15px;
}
input:hover, input:focus {
  border: 1px solid $dark_shade50;
  color: $dark_shade75;
}
.inline {
  display: inline-block;
}
.width100 {
  width: 100%;
}
.width50 {
  width: 49.4%;
}