@import "variables";

footer {
  width: 100%;
  height: 372px;
  background: $basecolor;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 100px;
}
footer .wrap, copyright .wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__logo {
  width: 255px;
  height: 132px;
  margin-right: 45px;
}
.footer__logo span {
  display: block;
  margin-top: 13px;
  line-height: 23px;
}

/*BottomMenu start*/
.footer__menu {
  flex: auto;
}
footer h3 {
  margin-top: 4px;
  margin-bottom: 20px;
}
.footer__menu ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
}
.footer__menu ul li {
  padding-bottom: 20px;
}
.footer__menu:nth-child(3) {
  margin-right: 33px;
}
.footer__menu ul li a {
  display:block;
  color:$dark_shade50;
  font-size:$font_size_md;
  text-decoration:none;
  font-family: Montserrat;
}
.footer__menu a:hover {
  color: $dark_shade75;
}
/*BottomMenu stop*/

.footer__subscribe {
  width: 260px;
}
.footer__subscribe span {
  line-height: 22px;
  margin-bottom: 24px;
  display: block;
}
.footer__subscribe form {
  position: relative;
}
.footer__subscribe input {
  width: 100%;
}
.footer__subscribe button {
  position: absolute;
  right: 3px;
  top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: $violet;
  border: 0px;
  background: $basecolor;
}

copyright {
  width: 100%;
  height: 70px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding-top: 24px;
  box-sizing: border-box;
}
copyright span {
  display: block;
  flex: auto;
  margin-top: 2px;
}
copyright i.fa {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 23px;
  /*color: $violet;*/
  margin-left: 24px;
  background-image: -webkit-linear-gradient(180deg, $violet 0%, $blue 100%);
  background-image: linear-gradient(180deg, $violet 0%, $blue 100%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
