@media (min-width: 1440px) and (max-width: 1440px) {
  .content.index {
    background-position-y: -70px;
    background-size: unset;
  }
}
@media (max-width: 1439px) {
  .wrap {
    width: 100%;
    padding: 0 70px 0 70px;
  }
  .header__btns {
    min-width: 301px;
  }
  .finding {
    left: 70px;
  }
  .index__slogan {
    right: 70px;
  }
}
@media (max-width: 1152px) {
  .wrap {
    padding: 0 20px 0 20px;
  }
  .finding {
    left: 20px;
  }
  .index__slogan {
    right: 20px;
  }
}
@media (max-width: 960px) {
  header button.btn__violetback {
    display: none;
  }
  .header__btns .violetborder {
    margin-right: 0px;
  }
  .header__btns {
    min-width: 90px;
    width: 90px;
  }
}
@media (max-width: 800px) {
  .header__topMenu label.toggleMenu {
    display: block;
  }
  .header__topMenu nav {
    overflow: hidden;
    padding-right: 20px;
    display: block;
    background: #ffffff;
    padding-left: 20px;
    /*margin-top: -40px;*/
  }
  .header__topMenu nav ul {
    display: block;
    max-height: 0;
    transition: max-height 0.3s;
    margin-top: 43px;
    z-index: 9999;
    background: $basecolor;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }
  .header__topMenu nav ul li {
    display: block;
    float: none;
    position: relative;
  }
  .header__topMenu nav ul li ul {
    display:block;
    margin-top: 0px;
  }
  .header__topMenu nav ul ul li {
    border-bottom: none;
    line-height: 22px;
    height: 22px;
    padding-left: 15px;
    box-sizing: border-box;
  }
  .header__topMenu nav > ul > li:nth-child(2), .header__topMenu nav > ul > li:nth-child(5) {
    height: 90px;
  }
  .header__topMenu nav > ul > li > a {
    line-height: 43px;
  }
  .header__topMenu li > a:after {
    top: 12px;
  }
  footer {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  footer .wrap {
    flex-wrap: wrap;
  }
  .footer__subscribe {
    width: 100%;
  }
  .footer__logo {
    width: 100%;
  }
  .footer__menu {
    flex: none;
    width: 30%;
  }
}
@media (max-width: 440px) {
  .finding {
    width: 90%;
  }
  .finding .width50 {
    width: 48.4%;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  copyright {
    font-size: $font_size_small;
  }
  copyright a {
    width: 30px;
  }
  .header__topMenu {
    width: 50px;
  }
  .header__topMenu nav {
    background: none;
  }
  input.toggleMenu:checked ~ ul, input.toggleSubmenu:checked ~ ul {
    width: 173px;
  }
}
@media (max-width: 387px) {
  .footer__menu {
    width: 100%;
  }
  .content {
    height: 600px;
  }
  h1 {
    line-height: 24px;
    font-size: $font_size_big;
  }
  .datepicker {
    width: 270px;
  }
  .datepicker--cell.-selected-.-range-from-:after {
    width: 40%;
  }
}
