$wrap_padding: 140px;

$sidebar: #ffffff;
$dark_shade: #1F2041;
$dark_shade75: rgba(31, 32, 65, 0.75);
$dark_shade50: rgba(31, 32, 65, 0.5);
$dark_shade25: rgba(31, 32, 65, 0.25);
$dark_shade5: rgba(31, 32, 65, 0.05);
$violet: #BC9CFF;
$green: #6FCF97;
$lightblue: #66D2EA;
$blue: #8BA4F9;
$basecolor: #ffffff;


$basefont1: Arial; /*'Quicksand-Regular'*/
$basefont2:'montserrat';
$font_size_bigger: 24px;
$font_size_big: 19px;
$font_size_md: 14px;
$font_size_small: 12px;




$input_font_size: 13px;
$content_bg: #F1F1F1;
$input_color: #4E4D4D;
$input_color_placeholder: #959595;
$text_color: black;


