
header
  div.wrap
    div.header__logo
      +logo('index.html')
        img(src='img/logo.png')
    div.header__topMenu
      +nav('1')
    div.header__btns
      +btn('Войти', 'btn__violetborder,m-r10')
      +btn('Зарегистрироваться', 'btn__violetback')